.headerContainer {
  height: 8.5rem;
}

.headerContent {
  max-width: 1200px;
  height: 8.5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    margin-left: auto;

    a {
      display: inline-block;
      position: relative;
      font-weight: 500;
      font-size: 1.125rem;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    span {
      margin: 0 1rem 0 1rem;
      color: var(--red);
      font-size: 1.125rem;
    }
  }
}