.container {
  max-width: 1200px;
  margin: 0.5rem auto 0;
  padding: 0 2rem;
  height: calc(100vh - 8.5rem);

  display: flex;
  justify-content: center;  
}

.form {
  max-width: 466px;
  text-align: center;

  h3 {
    font-size: 1.250rem;
    font-weight: bold;
    line-height: 1.875rem;
  }

  .formInput {
    margin: 0 auto;
    margin-top: 3.125rem;
    width: 100%;
    max-width: 380px;

    & + .formInput {
      margin-top: 2rem;
    }
  }

  button {
    max-width: 380px;

    &[type="submit"] {
      background: var(--red);
      color: var(--white);
      margin-top: 2rem;  
    } 
  }

  p {
    width: 466px;
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6875rem;

    a {
      color: var(--red);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.85);
      }
    }
  }

  .or {
    max-width: 380px;
    margin: 2.125rem auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
      width: 164px;
    }
  }

  .google {
    color: var(--red);
    margin: 0 auto 1.250rem auto;
      
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 0.750rem;
    }
  }

  .facebook {
    background: var(--blue);
    color: var(--white);

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 0.750rem;
    }
  }
}